<div class="container">
    <div class="head-container">
        <div class="description-container">
            <h1>Alex<br>Smith Costa</h1>
            <p class="title">Head of marketing</p>
            <mat-divider class="divider1"></mat-divider>
            <p class="text1">Praesent ut tortor consectetur, sempre sapien non, lacinia augue. Aenean arcu libero,
                facilisis<br>et nisi non, tempus faucibus tortor. Marius vel nulla aliquam, pellentesque enim ac,
                faucibus<br>tortor. Nulla odio nibh, cursus sit amet urna id, dignissim euismod augue.</p>
            <p class="text1">Duis sollicitudin, libero porttitor rutrum ultrices, turpis lorem fermentum justo, quis
                ornare<br>augue tortor non est. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per<br>
                inceptos himenaeos.</p>
        </div>
        <div class="image-container">
            <img src="../../assets/image-profile-1.PNG">
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="address-container">
        <div class="box-address">
            <span class="material-icons">
                map
            </span>
            <div class="address">
                <p class="address-line">Address</p>
                <p class="text"> Brussels, Liutte 27 BE<br> Some Town, Belgium.</p>
            </div>
        </div>
        <div class="box-address">
            <span class="material-icons">
                dialpad
            </span>
            <div class="address">
                <p class="address-line">Get in touch</p>
                <p class="text"> Call:+1 256 254 84 56<br> Email:robertsmith@company.com</p>
            </div>
        </div>
        <div class="box-address">
            <span class="material-icons">
                cloud_upload
            </span>
            <div class="address">
                <p class="address-line">Download resume</p>
                <p class="text"><a href="">Download Link</a><br></p>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="professional-container">
        <div class="professional-skills">
            <p class="title">Professional skills</p>
            <mat-divider class="divider1"></mat-divider><br>
            <p class="progres-bar">Problem Solving.</p>
            <mat-progress-bar value="90"></mat-progress-bar>
            <br>
            <p class="progres-bar">Adaptability</p>
            <mat-progress-bar value="80"></mat-progress-bar>
            <br>
            <p class="progres-bar">Collaboration</p>
            <mat-progress-bar value="95"></mat-progress-bar>
            <br>
            <p class="progres-bar">Strong Work Ethic</p>
            <mat-progress-bar value="75"></mat-progress-bar>
            <br>
            <p class="progres-bar">Handling Pressure</p>
            <mat-progress-bar value="90"></mat-progress-bar>
            <br>
        </div>
        <div class="personal-skills">
            <p class="title">Personal skills</p>
            <mat-divider class="divider1"></mat-divider><br>
            <p class="progres-bar">Collaboration and Teamwork</p>
            <mat-progress-bar value="90"></mat-progress-bar>
            <br>
            <p class="progres-bar">Leadership</p>
            <mat-progress-bar value="80"></mat-progress-bar>
            <br>
            <p class="progres-bar">Negotiation and Conflict Manegement</p>
            <mat-progress-bar value="95"></mat-progress-bar>
            <br>
            <p class="progres-bar">Project Manegement</p>
            <mat-progress-bar value="75"></mat-progress-bar>
            <br>
            <p class="progres-bar">Mentoring</p>
            <mat-progress-bar value="90"></mat-progress-bar>
            <br>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="approach">
        <p class="title">Approach</p>
        <mat-divider class="divider1"></mat-divider><br>
    </div>
    <div class="box-approach">
        <div class="approach-list">
            <p><i class="material-icons">keyboard_command</i></p>
            <p class="number">370<span class="plus">+</span></p>
            <p class="text-approach">Projects done</p>
        </div>
        <div class="approach-list">
            <p><i class="material-icons">watch</i></p>
            <p class="number">860<span class="plus">+</span></p>
            <p class="text-approach">Hourse of work</p>
        </div>
        <div class="approach-list">
            <p><i class="material-icons">games</i></p>
            <p class="number">203<span class="plus">+</span></p>
            <p class="text-approach">Games played</p>
        </div>
        <div class="approach-list">
            <p><i class="material-icons">coffee</i></p>
            <p class="number">673<span class="plus">+</span></p>
            <p class="text-approach">Cup of cofee</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="expertise">
        <p class="title">Expertise</p>
        <mat-divider class="divider1"></mat-divider><br>
    </div>
    <p class="long-text">Hello! I'm Alex Samit Costa. Head of Marketing specializing in front end development.
        Experienced with all stages of the development cycle for dynamic web proj-<br>ects. Well-versed in numerouse
        programming languages including JavaScript, SQL and C. Stng background in project management and customer
        relations.</p>
    <div class="expertise-box">
        <div class="expertise-box-left">
            <div class="box-left">
                <div class="icons-expertise"><i class="material-icons">switch_camera</i></div>
                <div class="expertise-box-left-1">
                    <h2 class="expertise-title">Chemical Research</h2>
                    <p class="text-expertise">Well-versed in numerouse programming lan-<br>guages including JavaScript,
                        SQL and C. Stng<br> background</p>
                </div>
            </div>
            <div class="box-left">
                <div class="icons-expertise"><i class="material-icons">screen_rotation</i></div>
                <div class="expertise-box-left-1">
                    <h2 class="expertise-title">Petroleum and Gas</h2>
                    <p class="text-expertise">Lorepum Ipsum is that it has a more-or-less<br>normal distribution of
                        letters, as
                        opposed
                        to<br>using'Content here.</p>
                </div>
            </div>
        </div>
        <div class="expertise-box-right">
            <div class="box-left">
                <div class="icons-expertise"><i class="material-icons">format_paint</i></div>
                <div class="expertise-box-right-2">
                    <h2 class="expertise-title">Agriculture Processing</h2>
                    <p class="text-expertise">Well-versed in numerouse
                        programming lan-<br>guages including JavaScript, SQL and C. Stng<br> background</p>
                </div>
            </div>
            <div class="box-left">
                <div class="icons-expertise"><i class="material-icons">palette</i></div>
                <div class="expertise-box-right-2">
                    <h2 class="expertise-title">Power and Energy</h2>
                    <p class="text-expertise">Lorepum Ipsum is that it has a more-or-less<br>normal distribution of
                        letters,
                        as
                        opposed
                        to<br>using'Content here.</p>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="experience">
        <p class="title">Experience</p>
        <mat-divider class="divider1"></mat-divider><br>
    </div>
    <mat-vertical-stepper>
        <mat-step>
            <app-education-card title="Microsooft" header="Head of Marketing(Sales) February 2015 - Present" text="Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus
            explicari sed.">
            </app-education-card>
        </mat-step>
        <mat-step>
            <app-education-card title="Pineapple" header="Executive Marketing (Production) June 2012 - January 2014"
                text="Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus 
                explicari sed."></app-education-card>
        </mat-step>
        <mat-step>
            <app-education-card title="Google" header="Executive (Corporate) April 2010 - December 2011" text="Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus 
            explicari sed."></app-education-card>
        </mat-step>
    </mat-vertical-stepper>

    <mat-divider></mat-divider>
    <div class="hobbies">
        <p class="title">Hobbies</p>
        <mat-divider class="divider1"></mat-divider><br>
    </div>
    <div class="box">
        <div class="hobbies-container">
            <div class="hobbies-box">
                <span class="material-icons">
                    settings_backup_restore
                </span>
            </div>
            <p class="text-hobbies">Research</p>
        </div>
        <div class="hobbies-container">
            <div class="hobbies-box">
                <span class="material-icons">
                    airplanemode_active
                </span>
            </div>
            <p class="text-hobbies">Traveling</p>
        </div>
        <div class="hobbies-container">
            <div class="hobbies-box">
                <span class="material-icons">
                    web
                </span>
            </div>
            <p class="text-hobbies">Reading Book</p>
        </div>
        <div class="hobbies-container">
            <div class="hobbies-box">
                <span class="material-icons">
                    library_music
                </span>
            </div>
            <p class="text-hobbies">Music</p>
        </div>
        <div class="hobbies-container">
            <div class="hobbies-box">
                <span class="material-icons">
                    party_mode
                </span>
            </div>
            <p class="text-hobbies">Photography</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="education">
        <p class="title">Education</p>
        <mat-divider class="divider1"></mat-divider><br>
    </div>
    <mat-vertical-stepper>
        <mat-step>
            <app-education-card title="Harvard University" header="Most recent achieved degree, 2005" text="Successfully passed PAD' on year 2005 scoring CGPA 4.00 out of 4.00. The study fields were
            Computer Architecture, Calculus, Fundamental of Physics, Chemistry, Integral Mathematics.">
            </app-education-card>
        </mat-step>
        <mat-step>
            <app-education-card title="Harvard University" header="Previously achieved degree, 2003" text="Successfully passed PAD' on year 2005 scoring CGPA 4.00 out of 4.00. The study fields were
            Computer Architecture, Calculus, Fundamental of Physics, Chemistry, Integral Mathematics.">
            </app-education-card>
        </mat-step>
        <mat-step>
            <app-education-card title="Harvard University" header="Executive (Corporate) April 2010 - December 2011"
                text="Successfully passed PAD' on year 2005 scoring CGPA 4.00 out of 4.00. The study fields were
            Computer Architecture, Calculus, Fundamental of Physics, Chemistry, Integral Mathematics.">
            </app-education-card>
        </mat-step>
    </mat-vertical-stepper>
    <mat-divider></mat-divider>
</div>