<div class="design-studio">
    <p class="title-design">An Interface<br>Design Studio</p>
    <mat-divider class="divider1"></mat-divider><br>
</div>
<div class="design-container">
    <div class="first-design-container">
        <p class="text-design"> Help enterprise approach things from the needs of the user and turn complex
            processes
            into simple and consumer relatable solutions.</p>
        <app-portofolio-card title="Building a new ecommerce experience for ebay" imageUrl="../../assets/design-1.PNG">
        </app-portofolio-card>
        <app-portofolio-card title="Building a new ecommerce experience for ebay" imageUrl="../../assets/design-2.PNG">
        </app-portofolio-card>
    </div>
    <div class="second-design-container">
        <app-portofolio-card title="Building a new ecommerce experience for ebay" imageUrl="../../assets/design-3.PNG">
        </app-portofolio-card>
        <app-portofolio-card title="Building a new ecommerce experience for ebay" imageUrl="../../assets/design-4.PNG">
        </app-portofolio-card>
    </div>
</div>