<div class="container">
  <div class="details-box-resume">
    <div class="box-resume">
      <div class="name">
        <div class="top-box-name">
          <p class="hello">Hello</p>
          <h3>Alex Smith Costa</h3>
          <p>Creative Director (Design)</p>
        </div>
        <div class="box-address">
          <span class="material-icons">
            map
          </span>
          <div class="address">
            <p class="address-line">Address</p>
            <p class="text"> Brussels, Liutte 27 BE<br> Some Town, Belgium.</p>
          </div>
        </div>
        <div class="box-address">
          <span class="material-icons">
            dialpad
          </span>
          <div class="address">
            <p class="address-line">Get in touch</p>
            <p class="text"> Call:+1 256 254 84 56<br> Email:robertsmith@company.com</p>
          </div>
        </div>
        <div class="box-address">
          <span class="material-icons">
            cloud_upload
          </span>
          <div class="address">
            <p class="address-line">Download resume</p>
            <p class="text"><a href="">Download Link</a><br></p>
          </div>
        </div>
      </div>
      <div class="image-resume">
        <img src="../../assets/image-profile.PNG">
      </div>
    </div>
    <div class="skills">
      <h2 class="profesional-skills">Professional skills</h2>
      <mat-divider></mat-divider><br>
      <mat-progress-bar value="80"></mat-progress-bar>
      <br>
      <p class="progres-bar">Adobe Photoshop</p>
      <mat-progress-bar value="85"></mat-progress-bar><br>
      <p class="progres-bar">Adobe Illustrator</p>
      <mat-progress-bar value="75">
      </mat-progress-bar><br>
      <p class="progres-bar">HTML & CSS</p>
      <mat-progress-bar value="80">
      </mat-progress-bar><br>
      <p class="progres-bar">Javascript</p>
    </div>
    <div class="approach">
      <h2 class="profesional-skills">Approach</h2>
      <mat-divider></mat-divider><br>
    </div>
    <div class="box-approach">
      <div class="approach-list">
        <p><i class="material-icons">keyboard_command</i></p>
        <p class="number">370<span class="plus">+</span></p>
        <p class="text-approach">Projects done</p>
      </div>
      <div class="approach-list">
        <p><i class="material-icons">watch</i></p>
        <p class="number">860<span class="plus">+</span></p>
        <p class="text-approach">Hourse of work</p>
      </div>
      <div class="approach-list">
        <p><i class="material-icons">games</i></p>
        <p class="number">203<span class="plus">+</span></p>
        <p class="text-approach">Games played</p>
      </div>
      <div class="approach-list">
        <p><i class="material-icons">coffee</i></p>
        <p class="number">673<span class="plus">+</span></p>
        <p class="text-approach">Cup of cofee</p>
      </div>
    </div>
    <div class="expertise">
      <h2 class="profesional-skills">Expertise</h2>
      <mat-divider></mat-divider><br>
    </div>
    <p class="long-text">Hello! I'm Alex Samit Costa. Head of Marketing specializing in front end development.
      Experienced with all stages of the development<br>cycle for dynamic web projects. Well-versed in numerouse
      programming languages including JavaScript, SQL and C. Stng background<br>in project management and customer
      relations.</p>
    <div class="expertise-box">
      <div class="expertise-box-row1">
        <div class="icons-expertise"><i class="material-icons">switch_camera</i></div>
        <div class="expertise-box-1">
          <h2 class="expertise-title">Chemical Research</h2>
          <p class="text-expertise">Well-versed in numerouse
            programming lan-<br>guages including JavaScript, SQL and C. Stng<br> background</p>
        </div>
        <div class="icons-expertise"><i class="material-icons">format_paint</i></div>
        <div class="expertise-box-1">
          <h2 class="expertise-title">Agriculture Processing</h2>
          <p class="text-expertise">Well-versed in numerouse
            programming lan-<br>guages including JavaScript, SQL and C. Stng<br> background</p>
        </div>
      </div>
      <div class="expertise-box-row2">
        <div class="icons-expertise"><i class="material-icons">screen_rotation</i></div>
        <div class="expertise-box-1">
          <h2 class="expertise-title">Petroleum and Gas</h2>
          <p class="text-expertise">Lorepum Ipsum is that a more-or-less<br>normal distribution of letters, as opposed
            to<br>using'Content here.</p>
        </div>
        <div class="icons-expertise"><i class="material-icons">palette</i></div>
        <div class="expertise-box-1">
          <h2 class="expertise-title">Power and Energy</h2>
          <p class="text-expertise">Lorepum Ipsum is that a more-or-less<br>normal distribution of letters, as opposed
            to<br>using'Content here.</p>
        </div>
      </div>
    </div>
  </div>
</div>