.title-blog {
  color: #6c6c6c;
  font-size:10px;
}

.text-blog {
  padding: 10px;
}

h4 {
  color: #565656;
  font-size: 16px;
}

h5 {
  color: #565656;
  font-size: 22px;
}

.paragraph-long {
    color: #6c6c6c;
  letter-spacing: 0.2px;
  line-height: 1.6;
  font-size: 9px;
}

.container-image-blog {
  /*width: 490px;*/
  margin-bottom: 20px;
}

button.mat-raised-button {
  width: 90px;
  height: 35px;
  font-size: 12px;
  font-weight: 400;
  background-color: #526afe;
}

.bottom-button {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.material-icons {
  color: #526afe;
}

span {
  padding-right: 5px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.5;
}
