<div class="menu-resume">
    <div class="me" routerLink="/">
        <i class="material-icons">library_books</i>
        <span> Home</span>
    </div>
    <div class="me" routerLink="how-i-am-doing">
        <i class="material-icons">library_books</i>
        <span> How I'm doing</span>
    </div>
    <div class="me" routerLink="education">
        <i class="material-icons">airplanemode_active</i>
        <span> Education</span>
    </div>
    <div class="me" routerLink="portofolio">
        <i class="material-icons">
            perm_media
        </i>
        <span>Portfolio</span>
    </div>
    <div class="me" routerLink="blog">
        <i class="material-icons">
            forum
        </i>
        <span> Blog</span>
    </div>
    <div class="me">
        <i class="material-icons">
            keyboard_double_arrow_right
        </i>
        <span> Contact</span>
    </div>
</div>